div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand= title
      div.nav-collapse.collapse
        ul.nav#control
          li
            a.flow.new= 'New Flow'
          li
            a.flow.load= 'Load Flow'
          li
            a.flow.save= 'Save Flow'
          li.divider-vertical
          li
            a.item(data-type= 'server')= 'Add Server'
          li
            a.item(data-type= 'store')= 'Add Store'
