div.container-fluid
  div.row-fluid
    div.span10
      div#pane
    div.span2
      div#control
        ul.nav
          li
            a.add.btn(data-type= 'server')= 'Add Server'
          li
            a.add.btn(data-type= 'file')= 'Add File'
          li
            a.add.btn(data-type= 'store')= 'Add Store'
            
div.template.server
  div.server.item
    div.header
      h2.hostname
    div.body
      a.btn.add(data-type= 'fluentd')= 'Add Fluentd'
      div.fluentds
    div.footer

div.template.fluentd
  div.fluentd.item
    div.header
      h2.filename
    div.body
      a.btn.add(data-type= 'source')= 'Add Source'
      div.plugins.sources
      a.btn.add(data-type= 'match')= 'Add Match'
      div.plugins.matches
    div.footer

div.template.match
  div.match.plugin.item
    div.header
      h2
        span= 'Match'
        span.type
    div.body
      h3.tag
      div.config
    div.footer

div.template.source
  div.source.plugin.item
    div.header
      h2
        span= 'Source'
        span.type
    div.body
      div.config
    div.footer

// modal server
div.edit.modal.hide.fade(data-type= 'server')
  div.modal-header
    h3= 'Edit Server'
  div.modal-body
    form.form-horizontal
      fieldset
        div.control-group
          label.control-label(for= 'editServerHostName')= 'hostname'
          div.controls
            input#editServerName.input-xlarge(type= 'text', name= 'hostname')
  div.modal-footer
    a.btn(data-dismiss= 'modal')= 'Close'
    a.btn.btn-primary= 'Save'

// modal fluentd
div.edit.modal.hide.fade(data-type= 'fluentd')
  div.modal-header
    h3= 'Edit Fluentd'
  div.modal-body
    form.form-horizontal
      fieldset
        div.control-group
          label.control-label(for= 'editFluentdFileName')= 'filename'
          div.controls
            input#editFluentdFileName.input-xlarge(type= 'text', name= 'filename')
  div.modal-footer
    a.btn(data-dismiss= 'modal')= 'Close'
    a.btn.btn-primary= 'Save'

// modal match
div.edit.modal.hide.fade(data-type= 'match')
  div.modal-header
    h3= 'Edit Match'
  div.modal-body
    form.form-horizontal
      fieldset
        div.control-group
          label.control-label(for= 'editMatchPlugin')= 'tag'
          div.controls
            input#editMatchTag.input-xlarge(type= 'text', name= 'tag')
        div.control-group
          label.control-label(for= 'editMatchType')= 'out type'
          div.controls
            select#editMatchType.type(name= 'type')
              option= ''
        label= 'Config'
        fieldset.config
  div.modal-footer
    a.btn(data-dismiss= 'modal')= 'Close'
    a.btn.btn-primary= 'Save'

// modal source
div.edit.modal.hide.fade(data-type= 'source')
  div.modal-header
    h3= 'Edit Source'
  div.modal-body
    form.form-horizontal
      fieldset
        div.control-group
          label.control-label(for= 'editSourcePlugin')= 'input type'
          div.controls
            select#editSourcePlugin.type(name= 'plugin')
              option= ''
        label= 'Config'
        fieldset.config
  div.modal-footer
    a.btn.close(data-dismiss= 'modal')= 'Close'
    a.btn.btn-primary= 'Save'
