////////////////////////////////////////////////////////////
// modal server
//
div.edit.modal.hide.fade(data-type= 'server')
  div.modal-header
    h3= 'Edit Server'
  div.modal-body
    form.form-horizontal
      fieldset
        div.control-group
          label.control-label(for= 'editServerHostName')= 'hostname'
          div.controls
            input#editServerName.input-xlarge(type= 'text', name= 'hostname')
  div.modal-footer
    a.btn(data-dismiss= 'modal')= 'Close'
    a.btn.btn-primary= 'Save'

// modal fluentd
div.edit.modal.hide.fade(data-type= 'fluentd')
  div.modal-header
    h3= 'Edit Fluentd'
  div.modal-body
    form.form-horizontal
      fieldset
        div.control-group
          label.control-label(for= 'editFluentdFileName')= 'filename'
          div.controls
            input#editFluentdFileName.input-xlarge(type= 'text', name= 'filename')
  div.modal-footer
    a.btn(data-dismiss= 'modal')= 'Close'
    a.btn.btn-primary= 'Save'

// modal match
div.edit.modal.hide.fade(data-type= 'match')
  div.modal-header
    h3= 'Edit Match'
  div.modal-body
    form.form-horizontal
      fieldset
        div.control-group
          label.control-label(for= 'editMatchPlugin')= 'tag'
          div.controls
            input#editMatchTag.input-xlarge(type= 'text', name= 'tag')
        div.control-group
          label.control-label(for= 'editMatchType')= 'out type'
          div.controls
            select#editMatchType.type(name= 'type')
              option= ''
        label= 'Config'
        fieldset.config
  div.modal-footer
    a.btn(data-dismiss= 'modal')= 'Close'
    a.btn.btn-primary= 'Save'

// modal source
div.edit.modal.hide.fade(data-type= 'source')
  div.modal-header
    h3= 'Edit Source'
  div.modal-body
    form.form-horizontal
      fieldset
        div.control-group
          label.control-label(for= 'editSourcePlugin')= 'input type'
          div.controls
            select#editSourcePlugin.type(name= 'plugin')
              option= ''
        label= 'Config'
        fieldset.config
  div.modal-footer
    a.btn.close(data-dismiss= 'modal')= 'Close'
    a.btn.btn-primary= 'Save'
